*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */

body{
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    width: 100%;
    margin: 0 auto;
    
}
.container{
    width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
    
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;

}
.col-100{
    width: 100%;
    padding: 0 25px;
}
.col-50{
    width: 50%;
    padding: 0 25px;
}
.col-33{
    width: 33.33%;
    padding: 0 25px;
}

.col-25{
    width: 25%;
    padding: 0 25px;
}
.section-Padding{
    padding-top: 50px;
    padding-bottom: 50px;

}
img{
    width: 100%;
    height: auto;
}

/* ==========home-css start========== */
.Home{
    background: url(images/donation2.jpg) center/cover no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 240px 0;
}
.Home::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.632);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;

    
}
.home-content{
    text-align: center;
    color: #fff;
}
.home-content h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 20px;
}
.home-content p{
    font-size: 16px;
    
    
}
.section-btn{
    text-decoration: none;
    display: inline-block;
    padding: 12px 16px;
    background: #FF5959;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 30px;
}
.section-btn:hover{
    background: #FF5959;
    color: #fff;
   
}
.section-btn:hover{
    background: #e36f6f;
   
}

/* ==========home-css end========== */


/* ==========donate-css start========== */
.site-title{
    text-align: center;
    margin-bottom: 50px;
    
}
.site-title h1{
    text-transform: capitalize;
    color: #121212;
    margin: 10px 0;
    font-size: 35px;

}
.site-title .pp{
    color: #707070;
    
}

.content-taka{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Div100tk{
    margin: 0 10px;
    background: #FAFAFA;
    color: #707070;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 15px;
    border: 2px solid white;

}
.Div100tk:hover{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}
.active{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;

}
.taka-add-sec{
   text-align: center;
    margin-top: 40px;

}
.Addamound{
    width: 50%;
    margin: 0 auto;
}
.Addamound input{
    border: none;
    border-bottom: 3px solid #e2e0e0;
    width: 100%;
    padding: 10px 0;
}
.Addamound input::placeholder{
    text-align: center;
}

/* ==========donate-css end========== */


/* ==========donate plan-css start========== */

.donat-plan-content{
    padding: 35px 30px;
    height: 360px;

}
.activeColor1{
    background: #EDF5F6;

}
.activeColor2{
    background: #FFEEEE;

}
.activeColor3{
    background: #FFF4D6;

}
.donat-plan-content .plan-icon{
    width: 30%;
    height: 30%;
    margin-bottom: 20px;

}
.donat-plan-content h3{
    font-size: 20px;
    font-weight: 600;
    color: #121212;
    margin-bottom: 10px;

}
.donat-plan-content p{
    font-size: 16px;
    color: #707070;

}

/* ==========donate plan-css end========== */

/* ==========donate blog-css end========== */
.blog-content{
    padding: 0 10px;
    
}
.blog-content h3{
    margin: 10px 0;
}
.blog-content p{
    text-align: justify;
    margin-bottom: 15px;
}
.blog-content .blog-btn{
    color: #FF5959;
    margin: 15px  0;
    display: inline-block;
    
}
.footer-blog{
    padding: 0 10px;
    
}
.footer-blog p{
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #707070;
}
.blog-details{
    position: relative;
    padding-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.activeBlog{
    background: #FF5959;
    color: white;
    
}
.activeBlog .footer-blog p{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    
}
.blog-details:hover{
    background: #FF5959;
    color: white;
    
}
.blog-details:hover .footer-blog p{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    

}

.blogImg::after{
    content: "Read more";
    position: absolute;
    background: #FF5959;
    color: white;
    padding: 5px 10px ;
    left: 0;
    top: 145px;
    font-size: 14px;
}



/* ==========donate blog-css end========== */


/* ==========contact-css start========== */
.contact-contentful{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    
    
}
.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF4D6;
    width: 70%;
    padding: 50px 0;
    
    
}


form{
    background: #6c6b69;
    padding: 20px 15px;
    width: 50%;
    
}
form input{
    width: 100%;
    padding: 10px 0;
}
.submit-btn{
    background: #FF5959;
    border: none;
    font-weight: 700;
    font-size: 17px;
    color: white;
}
.submit-btn:hover{
    background: #e88f8f;
    
}

/* ==========contact-css end========== */

/* ==========footer-css start========== */
.Footer{
    background: #121212;
    text-align: center;
    color: white;
}
.footer-content h1{
    color: #FF5959;
    padding: 15px 0;

}
.footer-content p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #e3e3e2;

}

/* ==========footer-css end========== */
